<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.police">

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/police_app"
        android:label=  "Police Data"
        android:roundIcon="@drawable/police_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".incident_reports"></activity>
        <activity android:name=".missing_phone_list" />
        <activity android:name=".stolen_vehicle_list" />
        <activity android:name=".missign_person_list" />
        <activity android:name=".message" />
        <activity android:name=".aboutthed" />
        <activity android:name=".feedback" />
        <activity android:name=".profilep" />
        <activity android:name=".settngsp" />
        <activity android:name=".homepagep" />
        <activity android:name=".login_screenp" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>